.small { font-size: 50% }

div.my-footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #C0C0C0;
    position: absolute;
    left: 15px;
    bottom: 2px;


